@use "tailwind" as *;
@use "../core/styles" as *;
@use "buttons" as *;
@use "forms" as *;
@use "spinners" as *;

html {
  @apply text-base;
}

.bracket-link {
  @apply flex;
}
/* Target links with a specific class, e.g., "bracket-link" */
.bracket-link::before {
  content: "[";
}

.bracket-link::after {
  content: "]";
}

.text-green {
  @apply dark:text-[#AFAAA4] text-[#605d59];
}

a {
  @apply dark:text-[#e3dbd1] text-[#5c5a56];
}

a:hover {
  @apply underline dark:text-[#AFAAA4] text-[#605d59];
}
a:visited {
  @apply dark:text-[#AFAAA4] text-[#605d59];
}
.markdown {
  @apply text-foreground;

  p {
    @apply text-foreground;
  }
  hr {
    @apply py-0 my-3 border-neutral-600;
  }

  pre {
    @apply bg-transparent flex py-0  my-0 flex-col px-0 overflow-hidden w-max h-max;
  }

  code {
    @apply leading-5 mb-2 overflow-hidden;

    &.code-snippet {
      @apply leading-5 p-4 text-neutral-300 bg-neutral-100 dark:bg-neutral-900 font-normal;
    }
  }

  blockquote {
    @apply border-l-2 border-violet-500 pl-4 italic;
  }
  h1 {
    @apply text-3xl  mb-6 mt-0;
  }

  h2 {
    @apply text-xl py-0 mb-5 mt-0;
  }

  hr {
    @apply py-0 my-3  border-neutral-300 dark:border-neutral-600;
  }

  ol {
    @apply list-decimal list-inside;
  }
}

.markdown-document {
  hr {
    @apply py-0 my-3 border-neutral-600;
  }

  pre {
    @apply p-3 flex py-0  my-0 flex-col px-0;
  }

  code {
    @apply p-0.5   bg-neutral-100 dark:bg-neutral-900 rounded text-[#404040];

    &.code-snippet {
      @apply leading-5 p-3 text-neutral-300 font-normal;
    }
  }

  blockquote {
    @apply border-l-2 border-violet-500 pl-4 italic;
  }
  h1 {
    @apply text-3xl  mb-6 mt-0;
  }

  h2 {
    @apply text-xl py-0 mb-5 mt-5;
  }

  hr {
    @apply py-0 my-3  border-neutral-300 dark:border-neutral-600;
  }

  a::before {
    content: "[ ";
  }

  a::after {
    content: " ]";
  }

  .markdown-content p {
    line-height: 1.75;
  }
}

.prose {
  &.prose-custom {
    @apply prose-a:no-underline   dark:prose-a:text-[#54c6fb] 
        dark:prose-li:text-neutral-200 
        dark:prose-li:marker:font-semibold
        prose-li:marker:text-[#54c6fb] prose-li:marker:font-normal 
        prose-p:text-foreground
        prose-li:marker:bg-black
        prose-blockquote:text-violet-500 
        dark:prose-blockquote:text-neutral-200 
        prose-blockquote:border-cyan-500 
        prose-blockquote:font-light     
        prose-li:list-inside
        prose-ol:list-inside
        prose-hr:text-neutral-400

        prose-ol:ml-0 
        prose-ol:pl-0 
        
        /* Add this line to remove left padding */;

    // Style for the list items containing checkboxes
    li:has(input[type="checkbox"]) {
      @apply flex items-center gap-2 list-none my-1;

      // Remove the default marker that Tailwind Prose adds
      &::before {
        content: none !important;
      }
    }
  }
}
